
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped"  >
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Dept</td>
        <td>Avg</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Rami</td>
        <td>CS</td>
        <td>70</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mohammad</td>
        <td>SE</td>
        <td>88</td>
    </tr>
</table>